In [40]:
import csv
import pandas as pd

In [26]:
def read_csv(path):
  with open(path, 'r') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    return list(reader)

data = read_csv("/home/isaaclbw/Obsidian/Economics/Data 1/Project 2/sugar-tax-data.csv")
cols = data[0]
data = data[1::]

In [23]:
print(columns)
print(data[0])

['store_type', 'store_id', 'type', 'type2', 'size', 'price', 'price_per_oz', 'price_per_oz_c', 'taxed', 'supp', 'product_id', 'time', 'Sample']
['2', '16', 'WATER', '', '33.8', '1.69', '0.05', '5', '0', '0', '29', 'DEC2014', '1']

### Question 1.b

In [39]:
def get_distinct(param): 
    
    i = columns.index(param)
    param_data = [x[i] for x in data]
    return len(set(param_data))

In [38]:
get_distinct('store_id')

26

In [36]:
get_distinct('product_id')

247

### Question 2.a

In [41]:
results = {1: {"DEC2014": 0, "JUN2015":0},
           2: {"DEC2014": 0, "JUN2015":0},
           3: {"DEC2014": 0, "JUN2015":0},
           4: {"DEC2014": 0, "JUN2015":0}}

time = cols.index("time")
store_type = cols.index("store_type")

for obs in data: 
    if obs[time] in ["DEC2014", "JUN2015"]:
        results[int(obs[store_type])][obs[time]] += 1

pd.DataFrame(results.values(), index=results.keys())

   DEC2014  JUN2015
1      177      209
2      407      391
3       87      102
4       73       96